.btn {
  height: 30px;
  width: 60px;
  background: #ffeb3b;
  border: none;
  color: #000;
  border-radius: 25px;
  cursor: pointer;
}
.btn:hover {
  background: #ffc107;
}
#tbl {
  box-shadow: 2px 2px 2px 2px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 600px;
  height: 200px;
}
